body {
    background-image: url(../images/background1.jpg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

footer.footer {
    margin-top: 5% !important; 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0 !important;
}

h1 {
    color: whitesmoke !important;
    font-family: 'Lobster', serif !important;
    font-size: 50px !important;
}

h2 {
    color: rgb(40, 40, 107);
}



.btn-primary:hover,
.btn-primary:focus {
    background-color: palevioletred;
    border-color: palevioletred;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: rgb(40, 40, 107, .8);
    border-color: rgb(40, 40, 107, .8);
    cursor: pointer;
}

.nav-btn {
    margin-right: 15px; 
    background-color: rgb(40, 40, 107, 0.0);
    font-size: 20px !important;
    border: none;
    cursor: pointer;
}

.nav-btn:hover {
    background-color: rgb(40, 40, 107, .3) !important;
    cursor: pointer;
}

.card {
    border: none;
    background-color: rgb(255, 255, 255, .3); 
}

.aboutMeCard {
    margin-top: 150px;
    min-height: 312px;
}

.aboutMeCard::before {
    opacity: .5 !important;
}




.frontside .card .card-title {
    color: rgb(40, 40, 107) !important;
}

.frontside .card .card-body img {
    width: 150px;
    height: 150px;
    margin-top: 15px;
    border-radius: 50%;
}

a {
    color: #fff !important;
    cursor: pointer;
}

/* .modal-dialog {
    width: 800px !important;
} */

.modal-content {
    background-color: rgb(245, 245, 245, .3) !important;
    margin-top: 75px;
    /* width: 800px !important; */
    
}

.projCard {
   margin: 20px; 
}

.projInfo {
    background-color: rgb(40, 40, 107, .7) !important;
    border-radius: 1.2%;
}

p {
    font-size: 17px;
    line-height: 1.2;
}

#aboutMeTxt {
    color: rgb(40, 40, 107);
}

label {
    color: rgb(40, 40, 107);
    font-size: 18px;
}
.footerLink {
    margin-left: 8px;
    margin-bottom: 8px;
}
/* @media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* @media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 
 
} */
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .modal-dialog {
        min-width: 800px !important;
    }
    .modal-content {
        min-width: 800px !important;
        margin-top: 65px !important;
    };
};  

#contentCont {
    flex: 1;
};

